In [1]:
import pandas as pd

Pandas provide  three type of data structure

serise

dataframe

panel

## Series :- 

Series is a one dimensional array that is capeble of storing the various type of data

a = pd.Series                            ## in Series "S must be capital"
print(a)

In [4]:
x = [1,3,4,5,6,7,7,8,89,9]

n = pd.Series(x)  

print(n)

print(type(n))
print()
print(n[2])

0     1
1     3
2     4
3     5
4     6
5     7
6     7
7     8
8    89
9     9
dtype: int64
<class 'pandas.core.series.Series'>

4

In [7]:
x = [1,3,4,5]

n = pd.Series(x,index = ["a","b","c","d"],dtype= "float",name = "RB")  
#                                             index =[]   :- use to change the indexing ,
#                                             dtype = " " :- use to change the Datatype ,
#                                             name = " "  :- use to give the name
print(n)

a    1.0
b    3.0
c    4.0
d    5.0
Name: RB, dtype: float64

In [9]:
dic = {"name":["pyhton","c++","java"],"popularity":["12","13","16"],"rank":["3","5","1"]}
                                                            # dictionary using Pandas
var = pd.Series(dic)

var                                                        # this line printing the "var"

name          [pyhton, c++, java]
popularity           [12, 13, 16]
rank                    [3, 5, 1]
dtype: object

In [14]:
s1 = pd.Series(12,index = [1,2,3,4,5])
s2 = pd.Series(10,index = [1,2,3,4,5,6,7,8])

print(s1+s2)
print(type(s1+s2))

1    22.0
2    22.0
3    22.0
4    22.0
5    22.0
6     NaN
7     NaN
8     NaN
dtype: float64
<class 'pandas.core.series.Series'>

## Data Frame :-

In [15]:
import pandas as pd

In [17]:
l = [1,2,3,4,5,6,7,8,9]

var = pd.DataFrame(l)
print(var)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [42]:
dic = {"name":["R","A","S","R","T"],"ROllNo":[1,2,3,4,5]}

var2 = pd.DataFrame(dic,columns=["ROllNo"])
print(var2)
print()
print(var2["ROllNo"][3])

   ROllNo
0       1
1       2
2       3
3       4
4       5

4

In [43]:
list_1 = [[1,2,3,4,5],[6,7,8,9,0]]

var3 = pd.DataFrame(list_1)
var3

   0  1  2  3  4
0  1  2  3  4  5
1  6  7  8  9  0